<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_MatBangTTTMConnectionString"
            connectionString="Data Source=DESKTOP-JT2VOVA;Initial Catalog=QL_MatBangTTTM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QL_MatBangTTTMConnectionString1"
            connectionString="Data Source=DESKTOP-IQ05A3C\SQLEXPRESS;Initial Catalog=QL_MatBangTTTM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>